@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<section class="d-flex w-100 justify-content-center gap-2">
    <form asp-action="Index">
        <input hidden value="0" readonly name="accepted" />
        <button type="submit">Accept Policy</button>
    </form>
    <form asp-action="Index">
        <input hidden value="1" readonly name="accepted" />
        <button type="submit">Reject Policy</button>
    </form>
</section>
